{% extends 'emails/filter/'~email_filter~'.twig' %}

{% block subject %}Contact form : {{ site_name }}{% endblock %}

{% block body_html %}
    <h1>You have been sent a message from {{ full_name }}.</h1>
    <p>{{ full_name }} can be contacted back at {{ email }} if needed.</p>

    <p>Below is the message that was submitted.</p>
    <dl>
        <dt>Subject:</dt>
        <dd>{{ subject }}</dd>
        <dt>Message:</dt>
        <dd>{{ message }}</dd>
    </dl>
{% endblock %}

{% block body_text %}
    You have been sent a message from {{ full_name }}.
    {{ full_name }} can be contacted back at {{ email }} if needed.

    Below is the message that was submitted.

    Subject: {{ subject }}
    Message: {{ message }}
{% endblock %}