{% extends 'emails/filter/'~email_filter~'.twig' %}

{% block subject %}Contact form : {{ site_name }}{% endblock %}

{% block body_html %}
    <h1>You have been sent a message from {{ name }}.</h1>
    <p>{{ name }} can be contacted back at {{ email }} if needed.</p>

    <p>Below is the message that was submitted.</p>
    <dl>
        <dt>Truck:</dt>
        <dd>{{ truck }}</dd>
    </dl>
{% endblock %}

{% block body_text %}
    You have been sent a message from {{ name }}.
    {{ name }} can be contacted back at {{ email }} if needed.

    Below is the message that was submitted.

    Truck: {{ truck }}
{% endblock %}