{% extends 'admin.html.twig' %}

{% block title %}Jobs list{{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Jobs list</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right"><a href="{{ path('admin_job_new') }}" class="btn btn-xs btn-success">Create a new job</a></div>
                    Jobs
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="index-table" style="width: 100%;">
                        <thead>
                        <tr>
                                                                                                <th data-priority="1">Id</th>
                                                                                                                            <th>Title</th>
                                                                                                                            <th>Description</th>
                                                                                                                            <th>Email</th>
                                                                                                                            <th>Location</th>
                                                                                                                            <th>Destination</th>
                                                                                                                            <th>Price</th>
                                                                                                                            <th>Apikey</th>
                                                                                                                            <th>Status</th>
                                                                                                                            <th>Completeuser</th>
                                                                                                                            <th>Completemember</th>
                                                                                                                            <th>Ratinguser</th>
                                                                                                                            <th>Ratingmember</th>
                                                                                        <th data-priority="2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for job in jobs %}
                        <tr>
                                    <td><a href="{{ path('admin_job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                                    <td>{{ job.title }}</td>
                                    <td>{{ job.description }}</td>
                                    <td>{{ job.email }}</td>
                                    <td>{{ job.location }}</td>
                                    <td>{{ job.destination }}</td>
                                    <td>{{ job.price }}</td>
                                    <td>{{ job.apikey }}</td>
                                    <td>{{ job.status }}</td>
                                    <td>{{ job.completeUser }}</td>
                                    <td>{{ job.completeMember }}</td>
                                    <td>{% if job.ratingUser %}Yes{% else %}No{% endif %}</td>
                                    <td>{% if job.ratingMember %}Yes{% else %}No{% endif %}</td>
                                    <td>
                                            <a href="{{ path('admin_job_show', { 'id': job.id }) }}" class="btn btn-show">Show</a>
                                            <a href="{{ path('admin_job_edit', { 'id': job.id }) }}" class="btn btn-edit">Edit</a>
                                    </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/datatables/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#index-table').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}
