{% extends 'base.html.twig' %}

{% block meta %}{% endblock %}
{% block title %}Admin | {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-admin.min.css') }}">
    <!-- MetisMenu CSS -->
    <link href="{{ asset('css/metisMenu.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('dashboard') }}">{{ site_name }}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right pull-right hidden-xs">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Welcome {{ app.user.username }} <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> LOGOUT</a></li>
                        <li></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% for item in global_menu.menu('admin') %}
                            {% if not item.role or is_granted(item.role) %}<li><a href="{{ item.routeOptions ? path(item.route, item.routeOptions) : path(item.route) }}"><i class="fa fa-{{ item.icon }} fa-fw"></i> {{ item.name | upper }}</a></li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type ? type : '' }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message|trans({}, domain|default('messages')) | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-bottom" role="navigation" style="margin-bottom: 0">
            <div class="col-xs-12 col-sm-6 center">
                <a class="navbar-brand" href="http://diamonddreamstravel.com">Copyright {{ 'now'|date('Y') }} - {{ site_name }}</a>
            </div>
            <div class="col-xs-12 col-sm-6 center"><span class="navbar-brand">Powered by - <a href="http://pinnaclebusinesstechnologies.com">Pinnacle Business Technologies</a></span>
            </div>
        </nav>
    </div>
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('js/jquery-1.12.3.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('js/bootstrap-admin.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('js/metisMenu.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset('js/sb-admin-2.js') }}"></script>

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script>
        modal = $('#viewModal');
        function handleJson(data) {
            if (data.success) {
                modal.find('.modal-content').html(data.html);
            } else {
                modal.find('.modal-content').html(data.error);
            }
            if (data.update) {
                updateContact(data.update);
            }
        }
        function handleError(data) {
            modal.find('.modal-content').html('UNAUTHORISED ACTION!');
        }
        $(function () {
            modal.on('show.bs.modal', function (event) {
                var link = $(event.relatedTarget);
                $.get(link.data('link'), handleJson).fail(handleError);
            }).on('hidden.bs.modal', function () {
                modal.find('.modal-content').html('');
            }).on('click', '.modal-link', function(event){
                event.preventDefault();
                var link = $(event.target);
                $.get(link.attr('href'), handleJson).fail(handleError);
            }).on('submit', 'form', function (event) {
                var form  = $(this);
                if (form.data('result') == 'redirect') {
                    return true;
                }
                event.preventDefault();
                $.post(form.attr('action'), form.serialize(), handleJson).fail(handleError);
            });
        });
    </script>
{% endblock %}