{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% for category in categories %}
                <div id="{{ category.safeTitle }}_panel" class="panel panel-default">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/helper.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            {% for category in categories %}
            $('#{{ category.safeTitle }}_panel').load('{{ path('category_refresh', {category: category.id}) }}');
            {% endfor %}
        });
    </script>
{% endblock %}