{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->
    <!-- Page Header -->
    <header id="home">
        <!-- Welcome Text -->
        <div class="full-wh relative">
            <div class="container">
                <div class="logo">
                    <img src="{{ asset('images/newhawlitlogo.png') }}" style="display: block; margin: 0 auto; width: 250px;" alt="Hawlit.com">
                    <div class="animated wow fadeInRight tagline">
                        <h3><strong>"Your Friend With A Truck"</strong></h3>
                    </div>
                </div>
                <div class="slide-caption">
                    <div class="thumb">
                        <img class="animated wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.3s" src="{{ asset('images/Hawlit_Truck_w_Guy.png') }}">
                    </div>
                    <h1 class="animated wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.3s">Make Money With Your Truck</h1>

                    <div class="slide-cta text-center">
                        <a href="#sign-up" class="btn btn-purple">REGISTER NOW!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Welcome Text -->

    </header>
    <!-- /Page Header -->
    <!-- Page Content -->
    <main class="main-container">
    {% block content %}
        <section id="sign-up" class="section">
            <div class="container">
                <!-- Section Header -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="section-title title-line">HAVE PAYING JOBS SENT RIGHT TO YOUR PHONE</h2>
                    </div>
                </div>
                <!-- /Section Header -->
                <!-- Section Content -->
                <div class="row section-content animated wow flipInY" data-wow-delay="0.3s" data-wow-duration="1s">
                    <!-- Contact Form -->
                    <div class="col-md-8 col-md-offset-2 contact-form">
                        <h3 style="text-align:center;margin-bottom:30px;">Sign up for <strong>Hawlit.com!</strong></h3>
                        {{ form_start(form, {attr:{class:"form-ajax"}}) }}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form_widget(form.name) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form_widget(form.truck) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(form.zipCode) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button type="submit" class="btn btn-purple"><i class="fa fa-paper-plane-o"></i> Send Message</button>
                                </div>
                            </div>

                        {{ form_end(form) }}
                    </div>
                    <!-- /Contact Form -->
                </div>
            </div>
        </section>
        <!-- /Section Content -->
        <!-- Section: End -->
    {% endblock %}
    </main>
    <!-- /Page Content -->

    <!-- Page Footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    &copy; {{ 'now' | date('Y') }} - Hawlit.com. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- /Page Footer -->

    <!-- Scroll To Top -->
    <div id="scroll-to-top" class="scroll-to-top scroll-hided">
        <i class="icon fa fa-angle-up"></i>
    </div>
    <!-- /Scroll To Top -->

    <!-- Modal: Result Message -->
    <div class="modal fade" id="result" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="modal-title h3 section-title title-line">Sign Up Successful</div>
                </div>
                <div class="modal-body">
                    <p class="modal-result h4"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal: Result Message -->
{% endblock %}

{% block stylesheets %}
    {#<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>#}
    {#<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>#}
    <link href="{{ asset('css/theme.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-ancient.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}