<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ category }} Add</h4>
</div>
{% if form is defined %}
{{ form_start(form) }}
<div class="modal-body">
    {% for line in form %}
        {{ form_row(line) }}
    {% endfor %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
    <script type="text/javascript">modal.find('input:text, textarea').first().focus();</script>
{{ form_end(form) }}
{% else %}
    <div class="modal-body">
        Entry Added, please refresh or <a href="{{ path('homepage') }}">click here</a>.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <script type="text/javascript">window.location = '{{ path('homepage') }}';</script>
{% endif %}