{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->
    <!-- Page Header -->
    <header id="home" data-stellar-background-ratio="0.4">

        <!-- Navigation -->
        <nav id="navigation" class="navbar">
            <div class="container">

                <!-- Navigation Header -->
                <div class="navbar-header">

                    <!-- Toggle Button -->
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#main-menu"
                            aria-expanded="false"
                            aria-controls="main-menu">

                        <i class="fa fa-fw fa-1d5x fa-align-justify"></i>
                    </button>
                    <!-- /Toggle Button -->

                    <!-- Brand -->
                    <a href="#" class="brand">

                        <!-- Big Logo -->
                        <div class="logo-big-container">

                            <!-- Dark Logo -->
                            <div class="logo-dark">
                                <img width="250" src="{{ asset('images/newhawlitlogo.png') }}">
                            </div>
                            <!-- /Dark Logo -->

                            <!-- White Logo -->
                            <div class="logo-white">
                                <img width="250" src="{{ asset('images/newhawlitlogo.png') }}">
                            </div>
                            <!-- /White Logo -->

                        </div>
                        <!-- /Big Logo -->

                        <!-- Small Logo -->
                        <div class="logo-small-container" style="padding:10px;">

                            <!-- Dark Logo -->
                            <div class="logo-dark">
                                <img src="{{ asset('images/newhawlitlogo-small.png') }}">
                            </div>
                            <!-- /Dark Logo -->

                            <!-- White Logo -->
                            <div class="logo-white">
                                <img src="{{ asset('images/newhawlitlogo-small.png') }}">
                            </div>
                            <!-- /White Logo -->

                        </div>
                        <!-- /Small Logo -->

                    </a>
                    <!-- /Brand -->

                </div>
                <!-- /Navigation Header -->

                <!-- Navigation -->
                <div id="main-menu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#haveatruck">I Have a Truck</a></li>
                        <li><a href="#needatruck">I Need a Truck</a></li>
                        <li><a href="#sign-up">Sign Up</a></li>
                    </ul>
                </div>
                <!-- /Navigation -->

            </div>
        </nav>
        <!-- /Navigation -->

        <!-- Welcome Text -->
        <div class="full-wh relative" data-stellar-ratio="0.6">
            <div class="container">
                <div class="col-md-12 slide-background-container" style="position:absolute;" >
                    <img class="fadeIn slide-background" style="max-width:100%;" src="{{ asset('images/truck_bg.png') }}">
                </div>
                <div class="col-md-6">
                    <div class="full-wh">


                        <div id="text1" class="home-lead animated wow fadeInLeft" style="position:absolute;" data-wow-duration="1.3s" data-wow-delay="0.3s">
                            <p class="slide-text">Make Money With Your Truck</p>
                        </div>
                        <div id="text2" style="display:none;position:absolute;">
                            <p class="slide-text">Fill Out Your Profile</p>
                        </div>
                        <div id="text3" style="display:none;position:absolute;">
                            <p class="slide-text">Sign Up Now To Get 1 Year Free! ($120 Value)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#sign-up">SIGN UP</a></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-center hidden-sm hidden-xs" style="position:relative;padding-top:80px;">
                    <div id="phone_truck" class="full-wh" style="position:absolute; display:none;">
                        <img style="width:440px;" src="{{ asset('images/phone_truck.png') }}" class="animated wow" data-wow-duration="2s">
                    </div>
                    <div id="couch_truck" class="full-wh" style="position:absolute;">
                        <img style="width:440px" src="{{ asset('images/couch.png') }}" class="animated wow fadeInRight" data-wow-duration="2s">
                    </div>

                </div>


            </div>
        </div>
        <!-- /Welcome Text -->

    </header>
    <!-- /Page Header -->
    <!-- Page Content -->
    <main class="main-container">
    {% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
      <!--
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
  </div>
</div>
-->
<div class="cta">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Your friend with a truck.</h2>
    </div>
  </div>
</div>
<div class="row">
 <div id="haveatruck" class="col-sm-12 col-md-6 col-lg-6">
    <a class="button">
      <span>I have a truck</span>
    </a>
   <div class="text">
     Make money with your truck. <b>It's easy!</b>
     <ol>
         <li>Complete your profile.</li>
         <li>Review current job listings.</li>
         <li>Apply to the ones that interest you.</li>
         <li>Show up, get paid, and you're done!</li>
     </ol>
     <br /><br />
     <b>Just $10/mo.</b>
   </div>
  </div>
  <div id="needatruck" class="col-sm-12 col-md-6 col-lg-6">
    <a class="button">
      <span>I need a truck</span>
    </a>
    <div class="text">
      Getting started is simple.
      <ol>
        <li>Post your job.</li>
        <li>Receive interested drivers.</li>
        <li>Pick your favorite, and <b>receive driver contact information for only $10</b>.
      </ol>
    </div>
  </div>
</div>
    <div class="cta">
<section id="sign-up" class="section">
            <div class="container">

                <!-- Section Header -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="section-title title-line">Sign up for <strong>Hawlit.com!</strong></h2>
                    </div>
                </div>
                <!-- /Section Header -->

                <!-- Section Content -->
                <div class="row section-content animated wow flipInY" data-wow-delay="0.3s" data-wow-duration="1s">

                    <!-- Contact Form -->
                    <div class="col-md-8 col-md-offset-2 contact-form">

                        <h3 style="text-align:center;margin-bottom:30px;">Sign Up Now to Receive Your 1st Year Free! ($120 Value)</h3>
                        {{ form_start(form, {attr:{class:"form-ajax"}}) }}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form_widget(form.name) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(form.truck) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button type="submit" class="btn btn-white-hollow"><i class="fa fa-paper-plane-o"></i> Send Message</button>
                                </div>
                            </div>

                        {{ form_end(form) }}
                    </div>
                    <!-- /Contact Form -->
                </div>
            </div>
        </section>      
    </div>
        <!-- /Section Content -->
        <!-- Section: End -->
    {% endblock %}
    </main>
    <!-- /Page Content -->

    <!-- Page Footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    &copy; 2017&copy; Hawlit.com. All rights reserved.
                </div>
                <div class="col-xs-4 footer-social">
                    <a href="#" class="icon fa fa-fw fa-facebook"></a>
                    <a href="#" class="icon fa fa-fw fa-twitter"></a>
                    <a href="#" class="icon fa fa-fw fa-google-plus"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Page Footer -->

    <!-- Scroll To Top -->
    <div id="scroll-to-top" class="scroll-to-top scroll-hided">
        <i class="icon fa fa-angle-up"></i>
    </div>
    <!-- /Scroll To Top -->

    <!-- Modal: Result Message -->
    <div class="modal fade" id="result" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="modal-title h3 section-title title-line">Sign Up Successful</div>
                </div>
                <div class="modal-body">
                    <p class="modal-result h4"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal: Result Message -->
{% endblock %}

{% block stylesheets %}
    {#<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>#}
    {#<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>#}
    <link href="{{ asset('css/theme.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/landingpage.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-ancient.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}