<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {{ form_start(form, {'action': path('contact_form')}) }}
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                {{ form_label(form.full_name) }}
                {{ form_widget(form.full_name) }}
                {{ form_errors(form.full_name) }}
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary" id="sendMessageButton">Send</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
