{% extends 'admin.html.twig' %}

{% block title %}Contact{{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Contact</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ contact.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ contact.name }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ contact.email }}</td>
                        </tr>
                        <tr>
                            <th>Truck</th>
                            <td>{{ contact.truck }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                                        <a href="{{ path('admin_contact_index') }}" class="btn btn-default">Back to the list</a></div>
            </div>
        </div>
    </div>

{% endblock %}
