<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{ asset('lizdev/css/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('lizdev/css/app.css') }}">
  </head>
  <body>
      <div class="grid-x grid-margin-x grid-padding-x">
          <div class="small-12 medium-12 large-12 cell">
              <h1>Front-End Completion Progress</h1>
              <i>Last updated: May 12, 2018</i>
          </div>
      </div>
<ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
  <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">Front-End Pages</a></li>
  <li class="tabs-title"><a href="#panel2c">Have a Truck</a></li>
  <li class="tabs-title"><a href="#panel3c">Need a Truck</a></li>
  <li class="tabs-title"><a href="#panel4c">E-mail Templates</a></li>
  <li class="tabs-title"><a href="#panel5c">Information Needed</a></li>
</ul>

<div class="tabs-content" data-tabs-content="collapsing-tabs">
  <div class="tabs-panel is-active" id="panel1c">
    <p> 
        <ol>
              <li><strong>Home</strong> - haven't started</li>
              <li><strong>About</strong> - haven't started</li>
              <li><strong>Legal</strong> - haven't started</li>
              <li><strong>Misc.</strong> - haven't started</li>
        </ol>
    </p>
  </div>
  <div class="tabs-panel" id="panel2c">
    <p>
          <ol>
              <li><strong>Create Profile</strong> - haven't started</li>
              <li><strong>Edit Profile</strong> - Dev handles</li>
              <li><strong>Update Password</strong> - Dev handles</li>
              <li><strong>Payment Methods</strong> - Dev handles</li>
              <li><strong>Ratings and Replies</strong> - Dev handles</li>
              <li><strong>Job Search</strong> - Dev handles</li>
              <li><strong>Past Jobs</strong> - Dev handles</li>
              <li><strong>Joined Jobs</strong> - Dev handles</li>
              <li><strong>Accepted Jobs</strong> - Dev handles</li>
          </ol>
    </p>
  </div>
  <div class="tabs-panel" id="panel3c">
    <p>
            <ol>
                <li><strong>Create Job</strong> - haven't started. (Job with option to create user account (username/password, email is in job creation))</li>
                <li><strong>Edit Profile</strong> - Dev handles</li>
                <li><strong>Update Password</strong> - Dev handles</li>
                <li><strong>Ratings and Replies</strong> - Dev handles</li>
                <li><strong>Past Jobs</strong> - Dev handles</li>
                <li><strong>Active Jobs</strong> - Dev handles</li>
                <li><strong>Create Job</strong> - Dev handles</li>
            </ol>
    </p>
  </div>
  <div class="tabs-panel" id="panel4c">
    <p> <i>Est. Completion: May 13, 2018</i>
          <ol>
              <li><strong>Confirm Member Account</strong> - haven't started</li>
              <li><strong>Confirm User Account</strong> - haven't started</li>
              <li><strong>Confirm Job</strong> - haven't started</li>
              <li><strong>Profile Changed</strong> - complete</li>
              <li><strong>Member Payment Processed</strong> - haven't started</li>
              <li><strong>New Rating</strong> - haven't started</li>
              <li><strong>Rating Reply</strong> - haven't started</li>
              <li><strong>New Job</strong> - haven't started</li>
              <li><strong>Update Job</strong> - haven't started</li>
              <li><strong>Member Joined Job</strong> - haven't started</li>
              <li><strong>Member Accepted Job</strong> - haven't started</li>
              <li><strong>Member Completed Job</strong> - haven't started</li>
              <li><strong>User Complted Job</strong> - haven't started</li>
              <li><strong>Password Changed</strong> - complete</li>
              <li><strong>Aging Job</strong> - haven't started</li>
          </ol>
    </p>
  </div>
  <div class="tabs-panel" id="panel5c">
      <p>Just need to know what the inputs are so I can style properly.</p>
      <ol>
          <li><strong>Have a Truck</strong>
              <ul>
                  <li>Username</li>
                  <li>Email</li>
                  <li>Password</li>
                  <li>Name</li>
                  <li>Phone</li>
                  <li>Truck</li>
                  <li>Payment (Stripe modal) Member saved on completion</li>
              </ul>
          </li>
          <li><strong>Need a Truck</strong>
              <ul>
                  <li>Name (Job)</li>
                  <li>Description</li>
                  <li>Image Upload (Multiple)</li>
                  <li>Location (Thinking Map? or just cross streets?)</li>
                  <li>Destination (See above)</li>
                  <li>Price</li>
                  <li>Contact (email)</li>
                  <li>Authentication (Stripe modal) Job saved on completion</li>
                  <li>Optional:
                      <ul>
                          <li>Username</li>
                          <li>Password</li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li><strong>Front-End Pages > About</strong>: written page content needed</li>
          <li><strong>Front-End Pages > Legal</strong>: written page content needed</li>
          <li><strong>Front-End Pages > Misc.</strong>: written page content needed</li>
      </ol>
  </div>
</div>
    <script src="{{ asset('lizdev/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('lizdev/js/vendor/what-input.js') }}"></script>
    <script src="{{ asset('lizdev/js/vendor/foundation.min.js') }}"></script>
    <script src="{{ asset('lizdev/js/app.js') }}"></script>
  </body>
</html>
