<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawlit | Password Changed</title>
    <link rel="stylesheet" href="{{ asset('lizdev/css/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('lizdev/css/app.css') }}">
    <link rel="stylesheet" href=" {{ asset('lizdev/foundation-emails/css/foundation-emails.css') }}">
  </head>
  <body>
  <table class="body" data-made-with-foundation>
    <tr>
      <!-- The class, align, and <center> tag center the container -->
      <td class="float-center" align="center" valign="top">
          <!-- The content of your email goes here. -->
          <h1 style="background:#333; color: #fff; text-align: center; padding: 60px 20px;">Password Changed</h1>
          <p style="padding:20px 20px; text-align: center;">It appears that your Hawlit password was changed in our system. 
          <br /><br />
          If you did <strong>NOT</strong> execute this change, <strong>your account may be compromised</strong>.
          <br /><br />
          If you <strong>DID</strong> authorize this change, you can simply ignore this e-mail.</p>
          <br />
          <p style="color:#cdcdcd;text-align:center;"><i> - The Hawlit Team</i></p>
      </td>
    </tr>
  </table>
    <script src="{{ asset('lizdev/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('lizdev/js/vendor/what-input.js') }}"></script>
    <script src="{{ asset('lizdev/js/vendor/foundation.min.js') }}"></script>
    <script src="{{ asset('lizdev/js/app.js') }}"></script>
  </body>
</html>
