{% for item in menu %}
    {% if not item.role or is_granted(item.role) %}
        <li class="nav-item{{ item.children and depth ? ' dropdown' }}">
            <a class="nav-link{{ item.children and depth ? ' dropdown-toggle' }}" href="{{ item.route ? path(item.route, item.routeOptions) : '#' }}"{% if item.children and depth %} id="{{ item.children }}DropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
                {% if item.icon %}<i class="fa fa-{{ item.icon }}" ></i>{% endif %}
                {{ item.name }}
            </a>
            {% if item.children and depth %}
                <ul class="dropdown-menu" aria-labelledby="{{ item.children }}DropdownMenuLink">
                    {{ fgc_menu(item.children, template, depth) }}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
