{% block extends %}
{{ "{% extends 'admin.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">{{ entity_singularized|capitalize }} edit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ '{{ form_start(edit_form) }}' }}
                    {{ '{{ form_widget(edit_form) }}' }}
                    <input type="submit" value="Edit" class="btn btn-success" />
                {{ '{{ form_end(edit_form) }}' }}
            </div>
        </div>

        {% set hide_edit, hide_delete = true, false %}
        {{ include('crud/views/others/record_actions.html.twig.twig') -}}
    </div>
{{ "{% endblock %}" }}
{% endblock body %}
