{% extends 'admin.html.twig' %}

{% block title %}User creation{{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">User creation</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                {{ form_start(form) }}
                <div class="panel-heading">
                    <input type="submit" value="Create" class="btn btn-success pull-right" />
                    Create User
                </div>
                <div class="panel-body">
                    {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
                <div class="panel-footer">
                                        <a href="{{ path('admin_user_index') }}" class="btn btn-default">Back to the list</a></div>
            </div>
        </div>
    </div>

{% endblock %}
